.parede {
  width: 30px;
  height: 30px;
  background-image: url(https://cdn.pixabay.com/photo/2016/12/24/23/50/pattern-1929506_960_720.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.player {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(https://i.ya-webdesign.com/images/kawaii-gif-png.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
}
.final {
  width: 30px;
  height: 30px;
  background-color: #f22;
}
.espaco {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/sKVVuaEeN_xRxI_YJQSnfueHU7aRFVqwOCRetCRCA_k0xjQHzXddIbejqKhzmCBVixMF2h2mRpn1VEH1lLzz=s400);
}
#labirinto_container,
h1 {
  margin: 0 auto;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
}
ul,
li {
  font-family: "Anton", sans-serif;
  font-size: 16px;
}
body {
  background-image: url(https://a-static.besthdwallpaper.com/minecraft-paisagem-papel-de-parede-1680x1050-6987_5.jpg);
  background-repeat: no-repeat;
}

.linhas {
  display: flex;
  flex-flow: wrap;
}
.start {
  width: 30px;
  height: 30px;
  background-color: #5bf;
}
.vitoria {
  background-image: url(https://i.makeagif.com/media/9-10-2015/qbvIgU.gif);
  width: 200px;
  height: 200px;
}
.medalha {
  width: 100px;
  height: 147px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(pngwing.com.png);
}
